streamlit==1.39.0
streamlit-elements
scikit-learn
plotly
sqlalchemy
pandas
psycopg2-binary
matplotlib
seaborn
numpy
ipywidgets
IPython
streamlit_plotly_events
streamlit_aggrid
tensorflow
keras
langchain_community
langchain_chroma
langchain_huggingface
langchain_text_splitters
langchain_openai
langchain_core
underthesea
logging
rank_bm25